body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}


#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    cursor: none;
}

#intro img {
    width: 100%;
    object-fit: fill;
}

#intro>div {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 0.7pc;
    font-weight: 200;
    user-select: none;
}

#introH1 {
    position: fixed;
    top: 40%;
    text-align: center;
    width: auto;
    color: whitesmoke;
    background-color: black;
    font-size: 4vw;
    user-select: none;
    font-family: "Baskervville SC", serif;
    width: auto;
    position: sticky;
    height: auto;
    overflow: hidden;
}

#intro #introH2 {
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    display: flex;
    letter-spacing: 0.1pc;
    justify-content: space-around;
    width: auto;
    height: 80px;
    font-size: 3vw;
    overflow: hidden;
}

#introH2 hr {
    width: 1;
    align-self: center;
    height: 40%;
    border: 1px solid rgb(120, 120, 120);
    margin: 0px;
    padding: 0px;
}

#introH2 H1 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}

#introH2 .first,
.second {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

#cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    scale: 0;
    height: 50px;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    border-radius: 100%;
    z-index: 2;
}

#intro lottie-player {
    scale: 0.7;
}

#intro #lottie-container {
    left: 1%;
    position: absolute;
    width: fit-content;
    bottom: 1%;
    transform: translateX(-50%);
    left: 1%;
    scale: 0.5;
    z-index: 1;
    overflow: hidden;
    border-radius: 100%;
}

@media (max-width: 768px) {
    #intro #lottie-container {
        left: 50%;
        position: absolute;
        width: fit-content;
        scale: 0.1;
        transform: translateX(-50%);
        z-index: 1;
        overflow: hidden;
        border-radius: 100%;
    }
}

#artwork {
    height: 200vh;
    background-color: antiquewhite;
}